<%- include('partials/header') %>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, incidunt laborum tempora perferendis rem saepe reiciendis aut? Beatae, amet ea!</h2>
<%- include('partials/footer') %>