extends base

block content
    if typeof errors != 'undefined'
        each error in errors
            div #{error.msg}
    form(action="/signup" method="POST")
        input(type="text" name="firstName" placeholder="First Name")
        input(type="text" name="lastName" placeholder="Last-name")
        input(type="email" name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Create password")
        input(type="password", name="password2" placeholder="Confirm password")
        button(type="submit") Sign up